@import 'dos437.css';
@import 'dos80x50.css';
@import 'topaz500.css';

body, html { margin: 0; }

html { padding: 0; }

body {
	background-color: #000;
	color: #888;
	padding: 1em;
	font-size: 16px;
	line-height: 16px;
    position: relative;
    margin: 0 auto;
    width: 640px;
}

body.ascii {
	white-space: pre;
}

a  {
	color: #080;
	text-decoration: none;
}

a:hover { color: #0f0; }

a:visited { color: #333; }

li {
	list-style-type: none;
	display: inline-block;
	width: 10em;
}
