@font-face {
	font-family: 'Conv_cp437-8x8';
	src: url('fonts/cp437-8x8.eot');
	src: local('☺'), url('fonts/cp437-8x8.woff') format('woff'), url('fonts/cp437-8x8.ttf') format('truetype'), url('fonts/cp437-8x8.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dos80x50 {
	font-family: 'Conv_cp437-8x8', Sans-Serif;
	font-size: 8px;
	line-height: 8px;
}