<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="ISO-8859-1" />
		<title>haliphax // remorse / acid</title>
		<link rel="stylesheet" href="css/ascii.css" type="text/css" />
		<script type="text/javascript" src="js/ascii.js"></script>
	</head>
	<body class="topaz500">
		<noscript>This page requires Javascript in order to function.</noscript>
		<ul>
		<!-- list -->
		</ul>
	</body>
</html>
